<h1>Contacts List App</h1>

<table>
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>email</th>
  </thead>
  <tbody>
  <!-- This is where the table rows are added from application.js -->
  </tbody>
</table>

<br>
<br>
<br>
<br>


<form id='new_contact'>
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname"><br><br>
  <input type="submit" value="Submit">
</form>

<br>

<form id='search_contact'>
  Search by id:
  <input type="text" name="id">
  <input type="submit" value="Submit">
</form>

<div id='search_display'></div>


<br>

<form id='delete_contact'>
  Delete by id:
  <input type='text' id="delete">
  <input type="submit" value="Submit">
</form>

<div id='display_deleted'></div>



<!-- <button id='delete_contact' type="button"> Delete! </button> -->


<!-- <input type="button" id="edit_button" value="Edit" class="edit" onclick="edit_row('1')">
<input type="button" id="save_button" value="Save" class="save" onclick="save_row('1')"> -->
<!-- <input type="button" value="Delete" class="delete" onclick="delete_row('1')"> -->
